// periactiveTable
document {
    font-family: monospace;
}

 .grid-container {
            display: grid;
            grid-template-columns: repeat(19, 1fr);
            grid-gap: 2px;
        }

        .grid-item {
            border: 1px solid black;
            padding: 2px;
            padding-bottom: 25px;
        }

        .void {
            border: 0px solid black;
            padding-bottom: 15px;
        }

body {
    background-color: #99CCFF;
    color: black;
    font-family: monospace;
}

.buttonblack {
    position: sticky;
    top: 0;
    font-family: monospace;
    background: black;
    color: #fff;
    width: 200px;
    border: 3px;
    border-radius: 3px;
    height: 30px;
    margin: 0px;
}

.buttongray {
    position: sticky;
    top: 0;
    font-family: monospace;
    background: lightgray;
    color: #fff;
    width: 200px;
    border: 3px;
    border-radius: 3px;
    height: 30px;
    margin: 0px;
}

p {
    font-size: 18px;
    font-family: monospace;
}

 .default-div {
    background-color: #99CCFF;
    border: 2px solid black;
    padding: 25px;
    color: black;
} 

 .grayElement {
color: gray;
} 

.special-div {
    background-color: green;
    border: 2px solid green;
    padding: 10px;
    color: white;
  }

  voidDiv {
    border: 0px solid black;
    padding: 20px;
}